<div class="hotspot-main hotspot-form-box {{  Configuracoes.transicoes == 'zoom' ? 'anim-zoom-out-full' : 'anim-slide-left' }} {{ Configuracoes.cor_fundo_corpo }}">

  <h4 class="{{ Configuracoes.cor_principal_titulos }}"><i class="fa fa-unlock"></i> Acessar Internet</h4>

  <form class="hotspot-form text-center">
    <div class="grupo">
      <input type="text" placeholder="Digite seu usuário" class="{{ Configuracoes.cor_fundo_campos }} {{ Configuracoes.cor_texto_campos }}" required>
    </div>
    <div class="grupo">
      <input type="password" placeholder="Digite sua senha" class="{{ Configuracoes.cor_fundo_campos }} {{ Configuracoes.cor_texto_campos }}" required>
    </div>
    <div class="grupo">
      <button class="botao {{ Configuracoes.botao_entrar }}" type="submit">Entrar</button>
    </div>
  </form>

</div>
