.hotspot-planos-box {
    position: relative;
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
}

.plano-top {
    position: relative;
    padding: 15px 0px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.plano-body span {
    position: relative;
    padding: 15px 0px;
    border-radius: 3px;
    font-size: 25px;
    font-weight: 800;
    font-family: Arial;
}

.plano-body p:last-child {
    margin-bottom: 0px;
}
